<!DOCTYPE html>

<html>

<head>

</head>

<body>
    {{!--   {{>header}}  --> allow me to access the value into header  [Check header.hbs file]  --}}
    {{>header}}
    {{!--   {{>footer}}  --> allow me to access the value into footer  [Check footer.hbs file]  --}}
    {{>footer}}

</body>

</html>